hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  } h1 {
    font-size: xxx-large;
    text-align: center;
  } .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  } h4 {
    text-align: left;
    font-size: small;
  }.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } .center4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  } h5 {
    text-align: center;
    font-size: small;
  } h6 {
    text-align: center;
    font-size: large;
  } .centerx {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 0;
  }